*{
	box-sizing: border-box;
	background-origin: border-box;
	margin: 0;
}

/* I chose light pink as the background of the website, 
   and I used blue to highlight the highlights of the letters. Because it is about food, 
   the color chosen this time looks like the color of ice cream, which arouses people's appetite. */


:root{
	--col-01:#f5a9ec29;
	--col-02:#f6cd9e;
	--col-03:#2149e6;
	--col-04:#b6e878;
}

body{
	background-color: var(--col-01);
	color: var(--col-02);
	padding: 2vw;
}

a {
	color: var(--col-04);
	text-decoration: none;
}
a:hover {
	color: var(--col-03);
	text-decoration: underline;
}

hr {
	margin-bottom: 2vh;
}

#list-filter-wrapper{
	display: flex;
	flex-direction: column;
}

.FilterCategoryWrapper{
	display: flex;
	padding: 1rem 0;
	width: 100%;
}

/* this is the filter category heading */
summary {
	font-size: 1.5rem;
	cursor: pointer;
	width: 100%;
	padding: 0 0.5rem;
	margin: 0.5rem 0;
	background: rgba(233, 43, 90, 0.878);
}

.FilterSelector {
	font-size: 1rem;
	background-color: transparent;
	color: var(--col-02);
	border: none;
	cursor: pointer;
	text-align: center;
	width: auto;
	margin: 0 0.1rem;
	display: inline-block;
	padding: .5rem;
}
.FilterSelector:hover {
	color: var(--col-03);
}
.FilterSelector:active {
	color: var(--col-03);
}
.ActiveCategory {
	background-color: var(--col-02);
	color: var(--col-01); 
}

#recipe-list-wrapper{
	display: grid;
	grid-template-columns: repeat(1,1fr);
	gap: 1rem;
	flex-wrap: wrap;
}
.RecipeCardWrapper{
	padding: 1rem;
	height: auto;
	border: solid var(--col-02) 2px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.RecipeCardWrapper:hover{
	border: dotted var(--col-02) 2px;
	cursor: pointer;
}

.RecipeImg{
	object-fit: cover;
	width: 100%;
	height: 30rem;
	padding-bottom:1rem ;
}
.RecipeTitle{
	font-size: 2rem;
}
.RecipeAuthor{
	font-size: 1.5rem;
}



@media all and (min-width: 768px) {
	hr {
		margin-bottom: 2vw;
	}

	#list-filter-wrapper{
		flex-direction: row;
	}
	
	#recipe-list-wrapper{
		grid-template-columns: repeat(2,1fr);
	}

	.FilterSelector {
		text-align: unset;
		width: unset;
	}
}
